/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.footer-copy{
    height: 6.5rem;
    color: white;
    margin-bottom: 0;
    border: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-fixed {
    height: 180px;
    object-fit: cover;
}
